.row-spacing {
  margin-bottom: 30px;
}

.page-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hs-card {
  margin: 10%;
  padding: 10%;
}

.features-section {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20vh;
  /* the section should take the vertical space of the screen */
  min-height: 60vh;
}